<%= link_to categories_path, id: "back-btn" do %>
  <i>back</i>
<% end %>
<%= form_with model: @category, url: categories_path, id: 'new-category', data: { turbo: false } do |f| %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.label :icon %>
    <%= f.text_field :icon %>
  </div>

  <div>
    <%= f.submit %>
  </div>

<% end %>